:root {
    --bg1: darkslateblue;
    --bg2: darkorchid;
    --bg3: darkmagenta;
    --color1: aliceblue;
    --color2: deeppink;
    --color3: gold;
    --color4: goldenrod;
    --gray1: lightgray;
}

/* Another theme */
.clr-theme-2 {
    --bg1: #250dc3;
    --bg2: #1a6e92;
    --bg3: #0931e2;
    --color1: #f0f8ff;
    --color2: #5ea9f0;
    --color3: #d3bb30;
    --color4: #5a4206;
    --gray1: #d3d3d3;
}